/* File: Home.css */
/* Student Name: Nikita Sherasiya */
/* Student ID: 301426402 */
/* Date: 2024-05-25 */

.home {
  text-align: center;
  padding: 50px;
}

.home .btn {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  display: inline-block;
}
