/* File: Navbar.css */
/* Student Name: Nikita Sherasiya */
/* Student ID: 301426402 */
/* Date: 2024-05-25 */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
}

.navbar .logo {
  display: flex;
  align-items: center;
}

.navbar .logo img {
  height: 40px; /* Adjust the height as needed */
  margin-right: 10px;
}

.navbar .logo span {
  font-size: 24px;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}
