/* File: Projects.css */
/* Student Name: Nikita Sherasiya */
/* Student ID: 301426402 */
/* Date: 2024-05-25 */

.projects {
  padding: 40px;

  
}

.projects-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-card {
  border: 1px solid #ddd;
  padding: 20px;
  width: 30%;
  box-sizing: border-box;
}

.project-card img {
  max-width: 100%;
}

.project-card .description {
  text-align: left;
}


.project-card .left-align {
  text-align: left;
}
