/* File: Services.css */
/* Student Name: Nikita Sherasiya */
/* Student ID: 301426402 */
/* Date: 2024-05-25 */

.services {
  padding: 20px;
}

.services-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.service-card {
  border: 1px solid #ddd;
  padding: 20px;
  width: 30%;
  box-sizing: border-box;
}

.service-card img {
  max-width: 100%;
}
